@import url('https://fonts.googleapis.com/css?family=Dosis:800');

h1 {
    text-align: center;
    color: white;
    font-family: Dosis;
    font-size
}

body{
  background-color: #b3cde0;
}

div{

}
