@import url('https://fonts.googleapis.com/css?family=Dosis:800');

h1 {
    text-align: center;
    color: #022b3a;
    font-family: Dosis;
    font-size
}

body{
  background-color: #FFFFFF;
}

#intro{
  margin-left: 100px;
}
